<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="xmmDB" connectionString="server=192.168.1.250;database=CC_DB;uid=sqluserb2bserver2014;pwd=c0a88c28509d41198bf124e0bf36a86ehxz;Enlist=true;Pooling=true;Max Pool Size = 5120;Min Pool Size=0; Connection Lifetime=30;packet size=1024" providerName="System.Data.SqlClient"/>
    <add name="psiDB" connectionString="server=192.168.1.250;database=ZOL_PRE000ERP;uid=sqluserb2bserver2014;pwd=c0a88c28509d41198bf124e0bf36a86ehxz;Enlist=true;Pooling=true;Max Pool Size = 5120;Min Pool Size=0; Connection Lifetime=30;packet size=1024" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Model的dll-->
    <add key="modelDllFile" value="E:\cc_space\code\ccms\cc.model\bin\Debug\cc.model.dll"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>