<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="/LogMng/jquery-1.8.1.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/LogMng/vue.js"></script>
    <style type="text/css">
        .FATAL {
            color: #179c6a;
        }

        .ERROR {
            color: red;
        }

        .col {
            word-break: break-all;
            word-wrap: break-word;
        }


        .p10 {
            padding: 10px;
        }

        .p0 {
            padding: 0px;
        }

        .lh35 {
            line-height: 35px;
        }

        .text-right {
            text-align: right;
        }

        .mt10 {
            margin-top: 10px;
        }

        .mt20 {
            margin-top: 20px;
        }

        .bb1 {
            border-bottom: 1px solid #cccccc;
        }

        .list > div:nth-child(even) {
            background: #f9f9f9;
        }
    </style>

</head>
<body>
    <section id="app">
        <div class="container-fluid">
            <div class="row p10 lh35 bb1">
                <div class="col-xs-7 p0">
                    <select class="form-control" id="selectFileList" v-model="dataOut.ReadLog4netTxtLog_GetLogFileInfo">
                        <option>请选择日志文件</option>
                        <option v-for="item in dataIn.files" value="{{item.SitePath}}">{{item.FileName}}</option>
                    </select>
                </div>
                <div class="col-xs-5 p0 text-right">
                    <a class="btn btn-success" href="#" v-on:click="onRefreshBtn_Click">刷新</a>
                    <a class="btn btn-success" href="log4net_init.aspx" target="_Blank">log4net</a>
                </div>
            </div>
            <div class="row p10 lh35 bb1">
                <div>
                    <select class="form-control" v-model="myFilter.selectedLoggerType">
                        <option value="">ALL</option>
                        <option value="DEBUG">DEBUG</option>
                        <option value="INFO">INFO</option>
                        <option value="WARN">WARN</option>
                        <option value="ERROR">ERROR</option>
                        <option value="FATAL">FATAL</option>
                    </select>
                </div>
                <div class="mt10">
                    <input class="form-control" type="text" placeholder="检索路径" v-model="myFilter.classFilter" />
                </div>
                <div class="mt10">
                    <input class="form-control" type="text" placeholder="检索信息" v-model="myFilter.infoFilter" />
                </div>
            </div>
            <div class="mt20 list">
                <div  v-for="log in dataIn.logList
                                | filterBy myFilter.selectedLoggerType in 'loggerType'
                                | filterBy myFilter.classFilter in 'loggerClass'
                                | filterBy myFilter.siteNameFilter in 'siteName'
                                | filterBy myFilter.businessCodeFilter in 'businessCode'
                                | filterBy myFilter.infoFilter in 'info'
                                | filterBy myFilter.userIdFilter in 'userId'
                                | filterBy myFilter.clientIpFilter in 'clientIp'
                                | filterBy myFilter.paraInFilter in 'paraIn'
                                | filterBy myFilter.paraOutFilter in 'paraOut'
                                | filterBy myFilter.tableCodeFilter in 'tableCode'
                                | orderBy 'date' -1">
                    <div class="mt10 {{log.loggerType}}">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="col">
                                            <div class="col">
                                                {{log.date}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col">
                                            <div class="col">
                                                {{log.loggerType}}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="col">
                                            {{log.loggerClass}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="col">
                                            {{log.info}}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var vu = new Vue({
            el: "#app",
            data: {
                //----------------------------
                //自定义过滤器保存的内容
                myFilter: {
                    //loggerType过滤器
                    selectedLoggerType: '',
                    //class过滤器
                    classFilter: '',
                    //site过滤器
                    siteNameFilter: '',
                    //businessCode过滤器
                    businessCodeFilter: '',
                    //info过滤器
                    infoFilter: '',
                    //userId过滤器
                    userIdFilter: '',
                    clientIpFilter: '',
                    paraInFilter: '',
                    paraOutFilter: '',
                    tableCodeFilter: '',
                },
                //----------------------------
                //输入的参数内容
                dataIn: {
                    //所有日志文件List
                    files: [
                        {
                            "FileName": "没有文件",
                            "SitePath": "2016\201608\20160809.txt"
                        },
                    ],
                    //所选的文件日志内容
                    logList: [
                        {
                            "date": "2016-08-29T12:09:32",
                            "loggerType": "DEBUG",
                            "loggerClass": "log4net_init",
                            "siteName": "ZMM(200站)",
                            "businessCode": "1|调试",
                            "info": "***********************************************",
                            "userId": "无",
                            "clientIp": "无",
                            "paraIn": "无",
                            "paraOut": "无",
                            "tableCode": "无"
                        },
                    ],
                },
                //----------------------------
                //输出的参数内容
                dataOut: {
                    ReadLog4netTxtLog_GetLogFileInfo: '请选择日志文件',
                }
            },
            ready: function () {
                this.initPageData();
            },
            methods: {
                //----------------------------
                //获取页面数据
                initPageData: function () {
                    this.getFiles();
                },
                //----------------------------
                //获取所有日志的文件列表
                getFiles: function (fileSitePath) {
                    var me = this;

                    var para = {};
                    $.ajax({
                        //提交数据的类型 POST GET
                        type: "POST",
                        //提交的网址
                        url: "/LogMng/Log4netHandle.ashx",
                        //返回数据的格式
                        datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
                        //提交的数据
                        data: { cmd: "FileList", para: para },
                        //成功返回之后调用的函数
                        success: function (data) {
                            me.dataIn.files = data.Data;

                            if (data.Data && data.Data.length > 0) {
                                me.dataOut.ReadLog4netTxtLog_GetLogFileInfo = data.Data[0].SitePath;
                            }
                        },
                    });
                },
                //----------------------------
                //获取文件的日志内容
                getFileLogList: function () {
                    var me = this;
                    var count = me.dataIn.logList.length;
                    me.dataIn.logList.splice(0, count);

                    filePathName = me.dataOut.ReadLog4netTxtLog_GetLogFileInfo;
                    $.ajax({
                        //提交数据的类型 POST GET
                        type: "POST",
                        //提交的网址
                        url: "/LogMng/Log4netHandle.ashx",
                        //返回数据的格式
                        datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
                        //提交的数据
                        data: { cmd: "ReadFile", para: filePathName },
                        //成功返回之后调用的函数
                        success: function (data) {
                            if (data != null && data.Data.length > 0) {
                                me.dataIn.logList = data.Data;
                                me.dataIn.logList.sort();
                            }
                        },
                    });
                    //myObj.cmd({
                    //    cmd: "ReadLog4netTxtLog.GetLogFileInfo",
                    //    para: { "FilePathName": me.dataOut.ReadLog4netTxtLog_GetLogFileInfo },
                    //    callback: function (data) {
                    //        if (data != null && data.length > 0) {
                    //            me.dataIn.logList = data;
                    //            me.dataIn.logList.sort();
                    //        }
                    //    }
                    //});
                },
                //----------------------------
                //刷新按钮事件
                onRefreshBtn_Click: function () {
                    this.getFileLogList();
                },
            },
            watch: {
                "dataOut.ReadLog4netTxtLog_GetLogFileInfo": function (newVal, oldVal) {
                    this.getFileLogList();
                },
            },
        });
    </script>

</body>
</html>
