.div-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.radius-none {
    -webkit-appearance: none;
    /*仅firefox支持，实现圆角效果*/
    -moz-border-radius: 0px;
    /*仅safari，ch5rome支持，实现圆角效果*/
    -webkit-border-radius: 0px;
    /*仅safari，chrome支持，实现圆角效果*/
    -khtml-border-radius: 0px;
    /*仅firefox，opera，safari，chrome支持，实现圆角效果*/
    border-radius: 0px;
}

.clear {
    clear: both;
}

.input-text-big {
    height: 40px;
    line-height: 40px;
}

.width-fill {
    width: 100%;
}

.text-bold {
    font-weight: 700;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml40 {
    margin-left: 40p;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr40 {
    margin-right: 40px;
}

.mr5 {
    margin-right: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb80 {
    margin-bottom: 80px;
}

.mt40 {
    margin-top: 40px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt60 {
    margin-top: 60px;
}

.mr0 {
    margin-right: 0px;
}

.m0 {
    margin: 0px;
}

.m10 {
    margin: 10px;
}

.pb2 {
    padding-bottom: 2px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.b0 {
    border: none;
}

.b1 {
    border: 1px solid #cccccc;
}

.bt1 {
    border-top: 1px solid #cccccc;
}

.bb1 {
    border-bottom: 1px solid #cccccc;
}

.bb1-dashed {
    border-bottom: 1px dashed #cccccc;
}

.w40 {
    width: 40px;
}

.w-fill {
    width: 100%;
}

.lh20 {
    line-height: 20px;
}

.lh30 {
    line-height: 30px;
}

.lh60 {
    line-height: 60;
}

.lh70 {
    line-height: 70px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pl40 {
    padding-left: 40px;
}

.pr10 {
    padding-right: 10px;
}

.pr20 {
    padding-right: 20px;
}

.pr40 {
    padding-right: 40px;
}

.lh40 {
    line-height: 40px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.btn-fill-big {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border: 1px solid #cccccc;
    background: #ffffff;
    font-size: 16px;
}

.div-fill {
    margin: 10px;
    background: #FFFFFF;
    padding: 10px;
}

.bg-white {
    background: #FFFFFF;
}

.bg-a6 {
    background: #A6A6A6;
}

.bg-ee {
    background: #EEE685;
}

.bg-red {
    background: red;
}

.c-red {
    color: red;
}

.c-orange {
    color: orange;
}

.c-white {
    color: white;
}

.c-ccc {
    color: #cccccc;
}

.div-full {
    margin: 0px;
    padding: 10px;
    background: #FFFFFF;
}

.row {
    margin: 0px;
}

.container {
    margin: 0 auto !important;
    width: 100% !important;
    padding: 0px;
}

.p0 {
    padding: 0px;
}

.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.pl20 {
    padding-left: 20px !important;
}

.pl30 {
    padding-left: 30px;
}

.pr20 {
    padding-right: 20px !important;
}

.c-color66 {
    color: #666666;
}

.w100 {
    width: 100%;
}

.remove-font-weight {
    font-weight: 400;
}

.yj {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/*上传文件*/

.plus-icon {
    color: #cccccc;
    display: inline-block;
    font-size: 30px;
}

.file-uploads-btn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin: 0px;
    margin-top: 5px;
    margin-left: 10px;
}

.file-uploads-img {
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid #cccccc;
    margin-left: 10px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 5px;
}

.file-uploads-img img {
    max-width: 96px;
    max-height: 96px;
    vertical-align: middle;
}

.text-small-money {
    width: 65px;
    height: 20px;
    border: 1px solid #cccccc;
}