<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="xmmDB" connectionString="server=192.168.1.250;database=ZOL_PRE000ERP;uid=sqluserb2bserver2014;pwd=c0a88c28509d41198bf124e0bf36a86ehxz;Enlist=true;Pooling=true;Max Pool Size = 5120;Min Pool Size=0; Connection Lifetime=30;packet size=1024" providerName="System.Data.SqlClient"/>
    <add name="psiDB" connectionString="server=192.168.1.250;database=ZOL_PRE000ERP;uid=sqluserb2bserver2014;pwd=c0a88c28509d41198bf124e0bf36a86ehxz;Enlist=true;Pooling=true;Max Pool Size = 5120;Min Pool Size=0; Connection Lifetime=30;packet size=1024" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Model保存地址-->
    <add key="modelFileSavePath" value="\model"/>
    <!--Dal保存地址-->
    <add key="dalFileSavePath" value="\dal"/>
    <!--model命名空间-->
    <add key="modelNamespace" value="xmm.model"/>
    <!--dal命名空间-->
    <add key="dalNamespace" value="xmm.dal"/>
    <!--model基类-->
    <add key="modelBaseClassName" value="BaseModel"/>
    <!--dal基类-->
    <add key="dalBaseClassName" value="BaseDAL"/>
    <!--model文件Using-->
    <add key="modelUsing" value="using System;using System.Data.SqlClient;using System.Linq;using xmm.model;"/>
    <!--dal文件Using-->
    <add key="dalUsing" value="using System.Data.SqlClient;using xmm.common;"/>
    <!--表名过滤-->
    <add key="tableNameFilter" value="ZMM_"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>